ion-content{
    --background:rgba(0, 0, 0, 0.83);
    --background-size:100%;
    --color:rgb(255, 255, 255);
    #container{
        margin-top: 20%;
        padding-bottom: 10%;
        padding-top: 10%;
        border-radius: 30px 30px 30px 30px;
        background: linear-gradient(45deg,rgb(0, 10, 155),rgb(10, 85, 0));
    }
    .title{
        padding: 5px;
        text-align: center;
        font-size: 150%;
        color:rgb(255, 255, 255)
    }

}
.item{
    --background-color:transparent;
    --margin-top:15%;
    --color:rgb(255, 255, 255);


}
ion-item{
    --background:transparent;
    --background-size:100%;  
    --color:rgb(0, 0, 0);

}
ion-footer{
    --background:transparent;
    --background-size:100%; 
    --padding-top:20%;
}