<ion-header class="header">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button  menu="main-menu" slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" slot="start">Mapathi Sarl</ion-title>
      <!-- <ion-chip slot="end" color="light"  (click)="openWin('profil')">
        <ion-label >Profil</ion-label>
        <ion-badge color="danger">{{fx.notifNb}}</ion-badge>

        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-chip> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="tit">
    <h3>Top articles</h3>
  </div>

  <ion-slides  [options]="slideOpts" class="slides">
    <ion-slide class="slide" *ngFor="let art of top" style="background:url({{fx.adrImg}}/{{art.image}});background-size: 100%">
      <ion-button style="margin: 30px 0 0 0;" color="primary" (click)="newCart(art.id)">
        <ion-icon name="cart" color="light"></ion-icon>
        <ion-label>Ajouter au panier</ion-label>
      </ion-button>
      </ion-slide>
  </ion-slides>
<ion-row class="articles">
  <ion-col size="6" *ngFor="let article of articles">
      <div class="imgs" style="background:url({{fx.adrImg}}/{{article.image}});background-size: 100%;">
      </div>
      <ion-item lines="none">
        <ion-label>
          {{article.title}}
           <p>
            <strong>{{article.price}}</strong> 
           </p> 
        </ion-label>
         <!-- <ion-button > -->
          <ion-icon name="cart" color="primary" slot="end" size="small" (click)="newCart(article.id)"></ion-icon>
        <!-- </ion-button> -->
      </ion-item>
     
  </ion-col>
</ion-row>
  
<app-explore-container name="Tab 2 page" *ngIf="options==false"></app-explore-container>

</ion-content>
